.alert_header {
  cursor: pointer;
}

.alert_details {
  display: none;
}

div.show-annotations, div.show-active {
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}

div.show-annotations:hover, div.show-active:hover {
  cursor: pointer;
}

div.show-annotations button, div.show-active button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

div.show-annotations.is-checked, div.show-active.is-checked {
  color: #286090;
}

